<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MEAN21C</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a routerLink="/signup">Signup</a> </li>
            <li><a routerLink="/calc">Calc</a></li>
            <li><a routerLink="/listusers">Users</a></li>
            <li><a routerLink="/addemployee">Add Employee</a></li>
            <li><a routerLink="/listemployee">List Employee</a></li>
            <li><a routerLink="/reactive-form-signup">Reactive Form Signup</a></li>
            <li><a routerLink="/pipe-demo">PipeDemo</a></li>

            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
